{% extends 'main.html' %}


{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat&display=swap');
  </style>
<section class="contact-hero">
    <div class="contact-hero--title">
        <p>Not Sure What Suits You</p>
        <h2>
            Relax, <br> We'll Handle <br> Your Accommodation
        </h2>

        <p>Contacting Us is Easy and Convenient</p>
    </div>
    <img src="https://cdn.pixabay.com/photo/2016/11/23/15/22/adults-1853483_960_720.jpg" alt="">
</section>
{% endblock content %}

