{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">
{% endblock css %}

{% block content %}
   <section class="hero-wrapper">
        <div class="hero-image">
            <img src="https://cdn.pixabay.com/photo/2018/05/13/14/52/boys-3396713_960_720.jpg" alt="">
        </div>
    </section> 

            <section class="section-wrapper">
            <div class="section-title">
                <h2>
                    About Jibhi
                </h2>
            </div> 

            <div class="section-content">
                <div class="info">
                    <p>
                        Jibhi, nestled in the lap of the majestic Jalori Pass, is a hidden 
                        gem of the Himachal Pradesh region. The town is surrounded by 
                        lush green cedar trees that provide a serene and peaceful environment 
                        to its visitors. The melodious chirping of birds and the refreshing 
                        fragrance of pine trees will enchant you throughout your stay. <br>
                    </p>
                    
                         <p>  
                         Jibhi's picturesque surroundings make it an ideal destination for 
                         trekking and hiking. The region is dotted with numerous trails that will
                          take you through the dense forest, and the spectacular views of the
                           surrounding mountain ranges will leave you spellbound.<br>
                    </p>
                           <p>   
                        The town is also known for its vibrant local culture and traditions. 
                        You can immerse yourself in 
                        the local customs and rituals, taste the local cuisine, and shop for 
                        traditional handicrafts and souvenirs.
                    </p>
                </div>
                <div class="image">                    
                    <img class= "img1" src="https://cdn.pixabay.com/photo/2019/03/31/14/31/houses-4093227_960_720.jpg" alt="">
                    <img class= "img2" src="https://cdn.pixabay.com/photo/2019/03/31/14/31/houses-4093227_960_720.jpg" alt="">
                
                </div>
            </div>
        </section>


        <section class="section-wrapper">
            <div class="section-title">
                <h2>Explore</h2>
            </div>

            <div class="section-content explore-grid">
                <div class="grid-item grid-item--1">
                    <div class="grid-text">
                        treehouse
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2017/04/23/20/39/tree-2254979_960_720.jpg" alt="">
                </div>
                <div class="grid-item grid-item--2">
                    <div class="grid-text">
                        cottage
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        A-frame
                    </div>
                    <img src="https://img1.wsimg.com/isteam/ip/c53adb37-49c1-44b5-a78a-76241785d596/A%20FRAME%20WOOD%20COTTAGE.png/:/cr=t:0%25,l:0%25,w:100%25,h:66.93%25/rs=w:1240,h:932.3308270676691,cg:true" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        mudhouse
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2017/11/03/16/00/bhunga-2914772_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        homestay
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2014/11/21/17/17/house-540796_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        camps
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2014/11/27/18/36/tent-548022_960_720.jpg" alt="">
                </div>
            </div>
        </section>
    

    

    
{% endblock content %}

{% block scripts %}

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>
{% endblock scripts %}