{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">
{% endblock css %}

{% block content %}
   <section class="hero-wrapper">
    <div class="hero-content">
        <h1>Adventure Awaits</h1>
        <p class="slogan">
            Ready for a thrill? Adventure awaits, and we'll take you there in style and comfort.
        </p>
        <div class="btn">
            We are a message away
        </div>
    </div>
        <div class="hero-image">
            <img src="{% static 'assets/images/hero.jpg' %}" alt="">    
        </div>
    </section> 

            <section class="section-wrapper">
            <div class="section-title">
                <h2>
                    About Jibhi
                </h2>
            </div> 

            <div class="section-content">
                <div class="info">
                    <p>
                        Jibhi, nestled in the lap of the majestic Jalori Pass, is a hidden 
                        gem of the Himachal Pradesh region. The town is surrounded by 
                        lush green cedar trees that provide a serene and peaceful environment 
                        to its visitors. The melodious chirping of birds and the refreshing 
                        fragrance of pine trees will enchant you throughout your stay. <br>
                    </p>
                    
                         <p>  
                         Jibhi's picturesque surroundings make it an ideal destination for 
                         trekking and hiking. The region is dotted with numerous trails that will
                          take you through the dense forest, and the spectacular views of the
                           surrounding mountain ranges will leave you spellbound.<br>
                    </p>
                           <p>   
                        The town is also known for its vibrant local culture and traditions. 
                        You can immerse yourself in 
                        the local customs and rituals, taste the local cuisine, and shop for 
                        traditional handicrafts and souvenirs.
                    </p>
                </div>
                <div class="image">                    
                    <img class= "img1" src="https://cdn.pixabay.com/photo/2019/03/31/14/31/houses-4093227_960_720.jpg" alt="">
                    <img class= "img2" src="https://cdn.pixabay.com/photo/2019/03/31/14/31/houses-4093227_960_720.jpg" alt="">
                
                </div>
            </div>
        </section>


        <section class="section-wrapper">
            <div class="section-title">
                <h2>Explore</h2>
            </div>

            <div class="section-content explore-grid">
                <div class="grid-item grid-item--1">
                    <div class="grid-text">
                        treehouse
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2017/04/23/20/39/tree-2254979_960_720.jpg" alt="">
                </div>
                <div class="grid-item grid-item--2">
                    <div class="grid-text">
                        cottage
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2018/05/04/07/55/snow-3373432_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        A-frame
                    </div>
                    <img src="https://img1.wsimg.com/isteam/ip/c53adb37-49c1-44b5-a78a-76241785d596/A%20FRAME%20WOOD%20COTTAGE.png/:/cr=t:0%25,l:0%25,w:100%25,h:66.93%25/rs=w:1240,h:932.3308270676691,cg:true" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        mudhouse
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2017/11/03/16/00/bhunga-2914772_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        homestay
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2014/11/21/17/17/house-540796_960_720.jpg" alt="">
                </div>
                <div class="grid-item">
                    <div class="grid-text">
                        camps
                    </div>
                    <img src="https://cdn.pixabay.com/photo/2014/11/27/18/36/tent-548022_960_720.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="section-wrapper paragliding">
            <div class="section-title">
                <h2>
                    Paragliding in Jibhi
                </h2>
            </div>
            <div class="paragliding-content">   
                <div class="paragliding-info">
                        <p>
                            Soar high and feel free with Jibhi's Paragliding Adventure!
                        </p>
                </div>            
                    <div class="carousel">
                      <ul class="slides">
                        <input type="radio" name="radio-buttons" id="img-1" checked />
                        <li class="slide-container">
                          <div class="slide-image">
                            <img src="https://cdn.pixabay.com/photo/2016/10/21/14/03/travel-1758128_960_720.jpg">
                          </div>
                         
                        </li>
                        <input type="radio" name="radio-buttons" id="img-2" />
                        <li class="slide-container">
                          <div class="slide-image">
                            <img src="https://cdn.pixabay.com/photo/2016/04/26/15/01/holiday-1354563_960_720.jpg" alt="">
                            </div>
                          
                        </li>
                        <input type="radio" name="radio-buttons" id="img-3" />
                        <li class="slide-container">
                          <div class="slide-image">
                            <img src="https://cdn.pixabay.com/photo/2018/10/31/15/43/sport-3786133_960_720.jpg" alt="">
                            </div>
                          
                        </li>
                        <div class="carousel-dots">
                          <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                          <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                          <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                        </div>
                      </ul>
                    </div>
                                  
            </div>
        </section>
    

        {% comment %} <section class="section-wrapper village">
            <div class="section-title">
                <h2>
                    Beautifull Villages
                </h2>
            </div>

                <div class="section-content village-slider">
                    <div class="village-wrapper">
                        <div class="village-title">
                            Tandi
                        </div>
                    <img src="https://cdn.pixabay.com/photo/2022/01/18/16/49/town-6947538__340.jpg" alt="">    
                    </div>
                    <div class="village-wrapper">
                        <div class="village-title">
                            Sojha
                        </div>
                        <img src="https://cdn.pixabay.com/photo/2021/07/04/17/38/house-6387074__340.jpg" alt="">
                    </div>
                    <div class="village-wrapper">
                        <div class="village-title">
                            Ghiyagi
                        </div>
                        <img src="https://cdn.pixabay.com/photo/2019/09/03/13/13/countryside-4449408__340.jpg" alt="">
                    </div>
                    <div class="village-wrapper">
                        <div class="village-title">
                            Sajwar
                        </div>
                        <img src="https://cdn.pixabay.com/photo/2019/06/04/19/54/norway-4252178__340.jpg" alt="">
                    </div>
                    <div class="village-wrapper">
                        <div class="village-title">
                           Bahu
                        </div>
                        <img src="https://cdn.pixabay.com/photo/2019/12/25/02/59/blue-village-4717743__340.jpg" alt="">
                    </div>
                </div>
            </div>
        </section> {% endcomment %}

        <section class="section-wrapper nearby-places">
            <div class="section-title">

                <h2>
                    Explore the neighborhood
                </h2>
            </div>
                <div class="section-content places-slider">
                    {% for place in places   %}                    
                        <a href="{% url 'places' slug=place.slug %}">
                            <div class="place-wrapper">
                                <div class="place-title">
                                    <h2> {{place.name}} </h2>
                                </div>
                                <img src="{{place.thumb_img.url}}" alt="{{place.slug}}">
                            </div>
                        </a>
                    {% endfor %}

                    {% comment %} <a href="">

                        
                        <div class="place-wrapper">
                            <div class="place-title">
                                <h2>Jalori Pass</h2>
                            </div>
                            <img src="https://cdn.pixabay.com/photo/2016/11/13/12/22/woman-1820868__340.jpg" alt="">
                        </div>
                    </a>
                    <a href="">

                        <div class="place-wrapper">
                            <div class="place-title">
                                <h2>Sareolsar Lake</h2>
                            </div>
                            <img src="https://cdn.pixabay.com/photo/2016/09/19/07/01/lake-1679708__340.jpg" alt="">
                        </div>
                    </a>
                    <a href="">

                        <div class="place-wrapper">
                            <div class="place-title">
                                <h2>Raghupur Fort</h2>
                            </div>
                            <img src="https://cdn.pixabay.com/photo/2021/11/13/12/19/cochem-castle-6791148__340.jpg" alt=""> 
                        </div>
                    </a>
                    <a href="">

                        <div class="place-wrapper">
                            <div class="place-title">
                                <h2>Balo Temple</h2>
                            </div>
                            <img src="https://cdn.pixabay.com/photo/2020/03/22/19/37/sao-paulo-4958340__340.jpg" alt="">
                        </div>
                    </a> {% endcomment %}
                </div>
            
        </section>

    

    
{% endblock content %}

{% block scripts %}

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>
{% endblock scripts %}