{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">
{% endblock css %}

{% block content %}
   <section class="hero-wrapper">
        <div class="hero-image">
            <img src="https://cdn.pixabay.com/photo/2018/05/13/14/52/boys-3396713_960_720.jpg" alt="">
        </div>
    </section> 

    

    
{% endblock content %}

{% block scripts %}

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>
{% endblock scripts %}