{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/single-listing-styles.css' %}">
{% endblock css %}

{% block content %}

<section class="section-wrapper hero-gallery">
    <div class="listing-header">
        <h2 class="listing-title">
            {{listing.name}}
        </h2>
        <div class="wrapper">
            <i>              <i class="fa fa-solid fa-location-dot"></i>
                <a href="#">
                    {{listing.location}}
                    , Jibhi, Himachal Prasdesh
                </a>    
            </i>
            <i>{{listing.location_type}} {{listing.distance_in_meters}}m</i>
        </div>
    </div>
    
    <div class="gallery-grid">
        <a href="{% url 'listings' %}"class="prev-btn">
            <div>
                <i class="fa-solid fa-chevron-left" id="close-enquiry-modal"></i> 
            </div>
        </a>
        <div class="hero-grid-item hero-grid-item--1">
            <img src="{{listing.thumb_images.url1.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url2.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url3.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url4.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url5.url}}" alt="">
        </div>
        <div class="load-gallery" id="load-gallery">
            <div class="gallery-text-wrapper">

                <h4>
                    Show All Photos
                </h4>
            </div>
        </div>
        <div id="overlay-wrapper">                    
            <div id="listing-gallery-modal">                                 

                    <div id="listing-gallery-modal-content">
                        <div class="gallery-header">                            
                                <i class="fa-solid fa-chevron-left" id="close-gallery-modal"></i>                          
                        </div>
                        <div class="photo-gallery">                           
                        {% if photos %}
                        
                            <div class="photos">
                                
                                {% for photo in photos %}  
                                <div class="item--{{forloop.counter}}">
                                    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}"
                                    class="">
                                </div>                              
                              
                              {% endfor %}
                            </div>
                        </div>
                      {% else %}
                        <p>No photos available.</p>
                      {% endif %}
                     
                    </div>
                </div>
        </div>
    </div>

</section>

<section class="section-wrapper listing-body-wrapper">
    <div class="listing-body--left">
        <div class="listing-body--content">
            <div class="hosting-summary">
                <div class="owner-accomodation-info">
                    <h3>Entire Home hosted by {{listing.owner.name}}</h3>
                    <div class="accomodation-summary">
                        <i>
                            {{listing.capacity}} guests
                        </i>
                        <i>
                            {{listing.num_bedrooms}} Bedrooms
                        </i>
                        <i>
                            {{listing.num_bathrooms}} Bathrooms
                        </i>
                    </div>
                </div>
                <div class="host-image">
                    <img src="{{listing.owner.image.url}}" alt="">
                </div>

            </div>

            <div class="amenities-wrapper">
                <div class="amenity-title">
                    <h2>
                        What this place offers
                    </h2>
                </div>
                    <div class="amenities">
                        {% for amenity in listing.amenities.all %}
                        <div class="single-amenity">
                            <div class="amenity-icon">
                                <img src="{{ amenity.amenity_icon.url }}" alt="{{ amenity.amenity_name }}">
                            </div>
                            <div class="amenity-text">
                                {{amenity.amenity_name}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                   
                
            </div>

            <div class="description-wrapper">
                
                    <h2>About {{listing.listing_type}}</h2>
                    <p class="description-text">
                    {{listing.description | truncatewords:50}}
                    <i class="read-more-btn" id="read-more-btn">Read More </i>
                    </p>

                    <div id="overlay-wrapper">                    
                    <div id="about-listing-modal">                       

                            <div id="about-listing-modal-content">
                              <h2>Modal Title</h2>
                              <p>{{listing.description }}</p>
                              <button id="close-modal">X</button>
                            </div>
                        </div>
                    </div>
                   
        </div>
     </div>
    </div>

    <div class="listing-body--right" id="enquiry-form-desktop">
        <div class="form-price">
             <b>
                <i class="fa-solid fa-indian-rupee-sign"></i>  {{listing.price_per_night}} / Night
             </b>
             
        </div>        
        {% include './listing_enquiry_form.html' %}
    
        </div>
    
</section>
<div class="overlay-wrapper">
    <div id="enquiry-modal">
        <div id="enquiry-modal-content">
            <div class="gallery-header">                            
                <i class="fa-solid fa-chevron-left" id="close-enquiry-modal"></i>                          
        </div>
            {% include './listing_enquiry_form.html' %}
        </div>
    </div>
</div>
<div class="enquiry-nav-mobile" id="bottomNav">
    <div class="price">
        <i class="fa-solid fa-indian-rupee-sign"></i> {{listing.price_per_night}} 
        <i style="font-weight:normal;"> Night</i>
    </div>
    <div class="enquiry-btn" id="enquiry-btn">
            Enquire Now
    </div>
</div>


{% endblock content %}





{% block scripts %}
    <script src="{%static 'js/single-listing-style.js' %}"></script>

    <script type="text/javascript">
		var notTopNav = {{ not_top_nav|yesno:"true,false" }};
		
		if (notTopNav && window.innerWidth < 500) {      
			// show navigation
			document.querySelector('.nav-wrapper').classList.add('hidden');
		}
	</script>
{% endblock scripts %}