{% extends 'main.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}

<section class="section-wrapper hero-gallery">
    <div class="listing-header">
        <h2 class="listing-title">
            {{listing.name}}
        </h2>
        <div class="wrapper">

            <i>
                <a href="#">

                    {{listing.location}}
                    , Jibhi, Himachal Prasdesh
                </a>
    
            </i>
            <i>{{listing.location_type}}</i>
        </div>
    </div>
    <div class="gallery-grid">
        <div class="hero-grid-item hero-grid-item--1">
            <img src="{{listing.thumb_images.url1.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url2.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url3.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url4.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url5.url}}" alt="">
        </div>
    </div>
</section>

<section class="section-wrapper listing-body-wrapper">
    <div class="listing-body--left">
        <div class="listing-body--content">
            <div class="hosting-summary">
                <div class="owner-accomodation-info">
                    <h3>Entire Home hosted by {{listing.owner.name}}</h3>
                    <div class="accomodation-summary">
                        <i>
                            {{listing.capacity}} guests
                        </i>
                        <i>
                            {{listing.num_bedrooms}} Bedrooms
                        </i>
                        <i>
                            {{listing.num_bathrooms}} Bathrooms
                        </i>
                    </div>
                </div>
                <div class="host-image">
                    <img src="{{listing.owner.image.url}}" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}





{% block scripts %}
{% endblock scripts %}