{% extends 'main.html' %}
{% load static %}
{% load social_share %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/single-listing-styles.css' %}">
{% endblock css %}

{% block content %}



<section class="section-wrapper hero-gallery">
    <div class="listing-header">
        <h2 class="listing-title">
            {{listing.name}}
        </h2>
        <div class="wrapper">
            <i>              <i class="fa fa-solid fa-location-dot"></i>
                <a href="#">
                    {{listing.location}}
                    , Jibhi, Himachal Prasdesh
                </a>    
            </i>
            <i>{{listing.location_type}} {{listing.distance_in_meters}}m</i>
            <div id="btn-modal" class="share-btn">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>    
            </div>

            <div class="overlay-share" id="overlay"></div>
            <div class="share-modal" id="share-modal">
                <div class="share-modal-header"> 
                    <div class="close-btn" id="close-btn-share-modal">
                        <i class="fa-solid fa-chevron-left"></i> 
                        
                    </div>                           
                    <h2>Share this place</h2>
                </div>
             <div class="share-modal-content">
                <div class="social-share-btn-wrapper">
                    <div class="tooltip" id="copy-link-tooltip"></div>
                    <div class="social-share-btn copy-link">
                        <div id="copy-link-container">
                            <a href="#" id="copy-link">
                              <i class="fas fa-copy"></i>
                              copy link
                            </a>
                            
                          </div>
                    </div>
                    <div class="social-share-btn">
                        {% post_to_whatsapp  object_or_url '<i class="fa-brands fa-whatsapp"></i> Whatsapp' %}
                        
                    </div>
                    <div class="social-share-btn">
                        {% post_to_telegram 'hi' object_or_url '<i class="fa-brands fa-telegram"></i> Telegram'  %}
                    </div>

                    <div class="social-share-btn">
                        {% post_to_twitter 'hello twitter' object_or_url '<i class="fa-brands fa-twitter"></i> Twitter'  %}
                    </div>
                </div>
                
             </div>
            </div>
        </div>
</div> 
    
    <div class="gallery-grid">
        <a href="{% url 'listings' %}"class="prev-btn">
            <div>
                <i class="fa-solid fa-chevron-left"></i> 
            </div>
        </a>
        <div class="hero-grid-item hero-grid-item--1">
            <img src="{{listing.thumb_images.url1.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url2.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url3.url}}" alt="">    
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url4.url}}" alt="">
        </div>
        <div class="hero-grid-item">
            <img src="{{listing.thumb_images.url5.url}}" alt="">
        </div>
        <div class="load-gallery" id="load-gallery">
            <div class="gallery-text-wrapper">

                <h4>
                    Show All Photos
                </h4>
            </div>
        </div>
        <div id="overlay-wrapper">                    
            <div id="listing-gallery-modal">                                 

                    <div id="listing-gallery-modal-content">
                        <div class="gallery-header"> 
                            <div class="close-btn" id="close-gallery-modal">
                                <i class="fa-solid fa-chevron-left"></i>                          
                            </div>                           
                        </div>
                        <div class="photo-gallery">                           
                        {% if photos %}
                        
                            <div class="photos">
                                
                                {% for photo in photos %}  
                                <div class="item--{{forloop.counter}}">
                                    <img src="{{ photo.image.url }}" alt="{{ photo.caption }}"
                                    class="" loading="lazy">
                                </div>                              
                              
                              {% endfor %}
                            </div>
                        </div>
                      {% else %}
                        <p>No photos available.</p>
                      {% endif %}
                     
                    </div>
                </div>
        </div>
    </div>

</section>

<section class="section-wrapper listing-body-wrapper">
    <div class="listing-body--left">
        <div class="listing-body--content">
            <div class="hosting-summary">
                <div class="owner-accomodation-info">
                    <h3>Entire Home hosted by {{listing.owner.name}}</h3>
                    <div class="accomodation-summary">
                        <i>
                            {{listing.capacity}} guests
                        </i>
                        <i>
                            {{listing.num_bedrooms}} Bedrooms
                        </i>
                        <i>
                            {{listing.num_bathrooms}} Bathrooms
                        </i>
                    </div>
                </div>
                <div class="host-image">
                    <img src="{{listing.owner.image.url}}" alt="">
                </div>

            </div>

            <div class="amenities-wrapper">
                <div class="amenity-title">
                    <h2>
                        What this place offers
                    </h2>
                </div>
                    <div class="amenities">
                        {% for amenity in listing.amenities.all %}
                        <div class="single-amenity">
                            <div class="amenity-icon">
                                <img src="{{ amenity.amenity_icon.url }}" alt="{{ amenity.amenity_name }}">
                            </div>
                            <div class="amenity-text">
                                {{amenity.amenity_name}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                   
                
            </div>

            
        <div class="yt-tour">
            <h2>Get a Tour</h2>
            <iframe   src="https://www.youtube.com/embed/8EVvTxhb-TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
        </div>
     </div>
    </div>

    <div class="listing-body--right" id="enquiry-form-desktop">
        <div class="form-price">
             <b>
                <i class="fa-solid fa-indian-rupee-sign"></i>  {{listing.price_per_night}} / Night
             </b>
             
        </div>        
        {% include './listing_enquiry_form.html' %}

        <div class="direct-contact-wrapper">
            <h2>Contact us on Following</h2>
            
            <div class="direct-contact">
                <a href="tel:+916230286198" target="_blank">
                    <i class="fa-solid fa-mobile-screen"></i>
                    +91 6230286198
                </a>
                <a href="https://www.instagram.com/_jibhi_/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                    /_jibhi_
                </a>
                <a href="https://api.whatsapp.com/send/?phone=%2B916230286198&text&type=phone_number&app_absent=0" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                    +91 6230286198
                </a>
            </div>

        </div>
    
        </div>
    
</section>

<section class="section-wrapper things-to-know">
    <h2>Things to Know</h2>
    <div class="things-to-know-wrapper">
        <div class="about-listing">
            <h3>About {{listing.listing_type}}</h3>
            
            <p class="about-text">
                <i>

                    {{listing.thumb_description | truncatewords:30}}
                </i>
            
            </p>

            <div id="overlay-wrapper">                    
            <div id="about-listing-modal">  
                                  

                    <div id="about-listing-modal-content">
                        <div class="about-modal-header">  
                            <div class="close-btn " id="close-modal">
                                <i class="fa-solid fa-chevron-left" ></i>                          
                            </div>                          
                    </div>  
                      <div class="description-container">
                        {{listing_description.complete_description | safe }}
                    </div>
                     
                    </div>
                </div>
            </div>
    </div>
        <div class="house-rules">
                <h3>House rules</h3>
                <p>
                    <i>
                        Check-in : {{listing.thingsToKnow.checkInAfter}} - 
                        {{listing.thingsToKnow.checkInBefore}}
                    </i>
                    <i>
                        Checkout Before : {{listing.thingsToKnow.checkOutBefore}}
                    </i>

                    <i>10 Guests Maximum</i>

                </p>
                
        </div>
        <div class="reaching-here">
                <h3>Reaching Here</h3>
              
                <p>
                    Please note that the property is located {{listing.location_type}}
                    ({{listing.distance_in_meters}} meters) from 
                    the main road. While this provides a unique and secluded experience, 
                    it may not be suitable for individuals with mobility concerns or those
                     who prefer not to walk on uneven terrain. 
                </p>
        </div>
        
    </div>
    <div class="read-more-btn" id="read-more-btn">
        <i  >Read More </i>
    </div>
</section>



<section class="section-wrapper view-360">
    <h2>Where You'll we</h2>
    <div class="map-wrapper">
        <div id="map-listing"></div>
        <p class="map-tip">
            <i class="fa-solid fa-lightbulb"></i>

            Quick Tip : Drag the pagman (<i class="fa-solid fa-person"></i>) from middle-right of map over blue dots around the 
            marker to open street view.
        </p>
    </div>
</section>

{% if listing.place_id %}
    <section class="section-wrapper listing-reviews">
        <h2>What Guest says</h2>
        
        <div class="reviews-wrapper-listing">
            
                {% for review in reviews   %}   
                    
                    <div class="review-wrapper">
                        <div class="reviewer-dp">
                            <img src="{{  review.profile_photo_url  }}" alt="{{ review.author_name }}'s profile photo">
                        </div>
                        <div class="review-header">
                            <div class="review-meta">
                                <i>{{review.author_name}}</i>
                                <i class="relative-time">{{review.relative_time_description}}</i>
                            </div>                   
                
                        </div>
                        <div class="review-text">
                            <p>
                                {{ review.text | truncatewords:200  }}
                            </p>
                        </div>
                    </div>
                
                {% endfor %}
                
                                
            
            
        </div>
    </section>

    <section class="section-wrapper">
        <h2>Traveler's Shots</h2>
        <div class="places-photo-gallery">
            {% for photo in api_photos %}
            <div class="photo-wrapper">
                <img src="{{ photo }}" alt="Photo of " class="photo">
            </div>
            {% endfor %}
       </section>
{% endif %}





<div class="overlay-wrapper">
    <div id="enquiry-modal">
        <div id="enquiry-modal-content">
            <div class="gallery-header">   
                <div class="close-btn"  id="close-enquiry-modal-mobile">
                    <i class="fa-solid fa-chevron-left"></i>                          
                </div>                         
        </div>
            {% include './listing_enquiry_form.html' %}
            
        </div>
    </div>
</div>
<div class="enquiry-nav-mobile" id="bottomNav">
    <div class="price">
        <i class="fa-solid fa-indian-rupee-sign"></i> {{listing.price_per_night}} 
        <i style="font-weight:normal;">&nbsp;Night</i>
    </div>
    <div class="direct-contact-mobile">
        <a href="tel:+916230286198" target="_blank">
            <i class="fa-solid fa-mobile-screen"></i>
            
        </a>
        <a href="https://www.instagram.com/_jibhi_/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
           
        </a>
        <a href="https://api.whatsapp.com/send/?phone=%2B916230286198&text&type=phone_number&app_absent=0" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
            
        </a>
    </div>
    <div class="enquiry-btn" id="enquiry-btn">
            Enquire Now
    </div>
</div>


{% endblock content %}





{% block scripts %}
    <script src="{%static 'js/single-listing-style.js' %}"></script>

    <script type="text/javascript">
		var notTopNav = {{ not_top_nav|yesno:"true,false" }};
		
		if (notTopNav && window.innerWidth < 500) {      
			// show navigation
			document.querySelector('.nav-wrapper').classList.add('hidden');
		}     
	</script>

    <script>
             //map
        // Initialize and add the map
    function initMap() {
               // The location of Uluru ,         
        const center = {lat:{{listing.latitude}}, lng:{{listing.longitude}}};
        
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map-listing"), {
          zoom: 16,
          center: center,
          
        });
        
        const marker = new google.maps.Marker({
          position: center,
          map: map,
          title:'click on marker to see details'
        });

        const infoWindow = new google.maps.InfoWindow({
            content: "<h3>New York City</h3><p>This is some custom information.</p>",
          });
          
          marker.addListener("click", () => {
            infoWindow.open(map, marker);
          });
      }
      
      window.initMap = initMap;
    
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4X65PsaEiyT-rdv4YO5gOn6_fMxJ-_tc&callback=initMap&v=weekly"
      defer
    ></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Get the URL of the current page
          var currentUrl = window.location.href;
        
          // Get the copy link element and tooltip element
          var copyLinkEl = document.getElementById('copy-link');
          var tooltipEl = document.getElementById('copy-link-tooltip');
        
          // When the copy link element is clicked
          copyLinkEl.addEventListener('click', function(e) {
            e.preventDefault();
        
            // Copy the URL to the clipboard
            navigator.clipboard.writeText(currentUrl).then(function() {
              // Show the tooltip with the "Copied" message and a background color
              tooltipEl.innerHTML = '<i class="fa-solid fa-circle-check"></i> Copied';
              tooltipEl.classList.add('show');
        
              // Hide the tooltip after 2 seconds
              setTimeout(function() {
                tooltipEl.classList.remove('show');
              }, 2000);
            }).catch(function() {
              // If clipboard access is denied or failed, show a different message in the tooltip
              tooltipEl.textContent = 'Copy failed';
              tooltipEl.classList.add('show');
        
              // Hide the tooltip after 2 seconds
              setTimeout(function() {
                tooltipEl.classList.remove('show');
              }, 2000);
            });
          });
        });
        </script>
       {% endblock scripts %}