{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">

<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />

{% endblock css %}

{% block content %}
<section class="listings-cat-wrapper">
    <div class="swiper mySwiper-cat">
        <div class="swiper-wrapper">
          <div class="swiper-slide {% if listing_type == 'treehouse' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='treehouse' %}">
              <img src="{% static 'assets/icons/listing-cat/icon-treehouse.svg' %}" alt="">
              <div class="cat-title">
                treehouse
              </div>
            </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'cottage' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-cottage.svg' %}" alt="">
            <div class="cat-title">
                cottage
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'homelistings' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='homestay' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-homestay.svg' %}" alt="">
            <div class="cat-title">
                homestay
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'a-frame' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='a-frame' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-a-frame.svg' %}" alt="">
            <div class="cat-title">
                A frame
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'camp' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='camp' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-camp.svg' %}" alt="">
            <div class="cat-title">
                Camping
            </div>
          </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-mountain.svg' %}" alt="">
            <div class="cat-title">
                Amazing View
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'dome' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='dome' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-dome.svg' %}" alt="">
            <div class="cat-title">
                dome
            </div>
          </a>
          </div>
          <div class="swiper-slide riverside">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-river2.svg' %}" alt="">
            <div class="cat-title">
                riverside
            </div>
          </a>
          </div>
          <div class="swiper-slide mudhouse {% if listing_type == 'mudhouse' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='mudhouse' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-mudhouse.svg' %}" alt="">
            <div class="cat-title">
                mudhouse
            </div>
          </a>
          </div>              
        </div>
        
      </div>
      <div class="swiper-button-prev cat-prev"></div>
      <div class="swiper-button-next cat-next"></div>
        
        
        
</section>   
 {% if listings %}
   <div class="map-wrapper">
     
        <div id='map' ></div>
      </div>
      {% include './listing-view-toggle.html' %}
        {% else %}
       
          <h2>No listings found</h2>
      {% endif %}
 
    

    


      {% comment %} <a href="{% url "listingDetail" listing.slug %}" class="info-window">' +
        '<div class="info-window-image">'+
          '<img src="{{ listing.banner_image.url }}" alt="">' +
        '</div>'+
        '<div class="listing-info-wrapper">' +
          '<i class="listing-title">{{listing.name}}</i>'+
          '<div class="item-wrapper">'+
            '<i class="fa fa-solid fa-location-dot"></i>'+
            '<i class="listing-location">{{listing.location}}</i>'+
          '</div>'+
            '<i class="listing-accomodation">{{listing.capacity}} persons | {{listing.num_bedrooms}} bedrooms</i>'+
            '<div class="item-wrapper">'+
              '<i class="fa-solid fa-indian-rupee-sign"></i> <i class="listing-price">{{listing.price_per_night}} / night</i>'+                          
            '</div>'+
        '</div>'+
      '</a>' {% endcomment %}

{% endblock content %}

{% block scripts %}
        

  

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>

<script>

  mapboxgl.accessToken = '{{map_token}}';
  const map = new mapboxgl.Map({
  container: 'map', // container ID
  style: 'mapbox://styles/mapbox/streets-v12', // style URL
  center: [77.35403893670916,31.589977983419985], // starting position [lng, lat]
  
  zoom: 12, // starting zoom
  });
  // Create a new marker.
  
  
  {% for listing in listings %}
  var marker{{ forloop.counter }} = new mapboxgl.Marker(
        {color: "green",
        scale:.8,
      }
  )
        .setLngLat([{{ listing.longitude }}, {{ listing.latitude }}])
        .setPopup(new mapboxgl.Popup().setHTML(' <a href="{% url "listingDetail" listing.slug %}" class="info-window mapbox-gl-popup">' +
          '<div class="info-window-image">'+
            '<img src="https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287__340.jpg" alt="">' +
          '</div>'+
          '<div class="listing-info-wrapper">' +
            '<i class="listing-title">{{listing.name | truncatechars:14 }}</i>'+
            '<div class="item-wrapper">'+
              '<i class="fa fa-solid fa-location-dot"></i>'+
              '<i class="listing-location">{{listing.location}}</i>'+
            '</div>'+
              '<i class="listing-accomodation">{{listing.capacity}} persons | {{listing.num_bedrooms}} bedrooms</i>'+
              '<div class="item-wrapper">'+
                '<i class="fa-solid fa-indian-rupee-sign"></i> <i class="listing-price">{{listing.price_per_night}} / night</i>'+                          
              '</div>'+
          '</div>'+
           '</a>'
           ))
        
        .addTo(map);
    console.log({{ listing.longitude }}, {{ listing.latitude }});
  {% endfor %}
 
  </script>
{% endblock scripts %}