{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">
{% endblock css %}

{% block content %}
<section class="listings-cat-wrapper">
    <div class="swiper mySwiper-cat">
        <div class="swiper-wrapper">
          <div class="swiper-slide {% if listing_type == 'treehouse' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='treehouse' %}">
              <img src="{% static 'assets/icons/listing-cat/icon-treehouse.svg' %}" alt="">
              <div class="cat-title">
                treehouse
              </div>
            </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'cottage' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-cottage.svg' %}" alt="">
            <div class="cat-title">
                cottage
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'homelistings' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='homestay' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-homestay.svg' %}" alt="">
            <div class="cat-title">
                homestay
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'a-frame' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='a-frame' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-a-frame.svg' %}" alt="">
            <div class="cat-title">
                A frame
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'camp' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='camp' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-camp.svg' %}" alt="">
            <div class="cat-title">
                Camping
            </div>
          </a>
          </div>
          <div class="swiper-slide">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-mountain.svg' %}" alt="">
            <div class="cat-title">
                Amazing View
            </div>
          </a>
          </div>
          <div class="swiper-slide {% if listing_type == 'dome' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='dome' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-dome.svg' %}" alt="">
            <div class="cat-title">
                dome
            </div>
          </a>
          </div>
          <div class="swiper-slide riverside">
            <a href="{% url 'map' listing_type='cottage' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-river2.svg' %}" alt="">
            <div class="cat-title">
                riverside
            </div>
          </a>
          </div>
          <div class="swiper-slide mudhouse {% if listing_type == 'mudhouse' %}active-cat{% endif %}">
            <a href="{% url 'map' listing_type='mudhouse' %}">
            <img src="{% static 'assets/icons/listing-cat/icon-mudhouse.svg' %}" alt="">
            <div class="cat-title">
                mudhouse
            </div>
          </a>
          </div>              
        </div>
        
      </div>
      <div class="swiper-button-prev cat-prev"></div>
      <div class="swiper-button-next cat-next"></div>
        
        
        
</section>   

    <div class="listings-map-wrapper">
        <div id="map-listingPin"></div>
        <p class="map-tip">
            <i class="fa-solid fa-lightbulb"></i>
            Quick Tip : Drag the pagman (<i class="fa-solid fa-person"></i>) from middle-right of map over blue dots around the 
            marker to open street view.
        </p>
    </div>

    {% include './listing-view-toggle.html' %}




{% endblock content %}

{% block scripts %}
        <script>
            // initialize the map
            function initMap() {
                // center the map on your town
                var myLatLng = {lat: 31.59103810391068, lng: 77.35339520655404};
                var map = new google.maps.Map(document.getElementById('map-listingPin'), {
                  zoom: 12,
                  center: myLatLng,
                  styles: [
                  
                  {
                    featureType: "poi.business",
                    stylers: [{ visibility: "off" }]
                  },
                  
                  
                ],
                mapId: "4504f8b37365c3d0",
                 
                });
                const iconBase = "https://developers.google.com/maps/documentation/javascript/examples/full/images/";
                // loop through your listings and create a marker for each one
                
                
                
                
                {% for listing in listingCordinates %}
               
                  var markerLatLng = {lat: {{ listing.latitude }}, lng: {{ listing.longitude }} };
                  var marker = new google.maps.Marker({
                    position: markerLatLng,
                    map: map,
                    
                    
                    title: ' {{ listing.name }}',
                    label: {
                      text: '₹{{ listing.price_per_night }}',
                      fontWeight: 'bold',
                      fontSize: '12px', 
                      className: 'custom-marker',
                      color: 'white',
                  }                    
                    
                  });
                  
                  // create an info window for each marker
                  var contentString{{ forloop.counter }} = '<a href="{% url "listingDetail" listing.slug %}" class="info-window">' +
                    '<div class="info-window-image">'+
                      '<img src="{{ listing.banner_image.url }}" alt="">' +
                    '</div>'+
                    '<div class="listing-info-wrapper">' +
                      '<i class="listing-title">{{listing.name}}</i>'+
                      '<div class="item-wrapper">'+
                        '<i class="fa fa-solid fa-location-dot"></i>'+
                        '<i class="listing-location">{{listing.location}}</i>'+
                      '</div>'+
                        '<i class="listing-accomodation">{{listing.capacity}} persons | {{listing.num_bedrooms}} bedrooms</i>'+
                        '<div class="item-wrapper">'+
                          '<i class="fa-solid fa-indian-rupee-sign"></i> <i class="listing-price">{{listing.price_per_night}} / night</i>'+                          
                        '</div>'+
                    '</div>'+
                  '</a>';
              
                  var infoWindow{{ forloop.counter }} = new google.maps.InfoWindow({
                    content: contentString{{ forloop.counter }}
                  });
                  
                  // add an event listener to show the info window when the marker is clicked
                  marker.addListener('click', function() {
                    infoWindow{{ forloop.counter }}.open(map, this);
                  });
                {% endfor %}
              }
              
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

      
   
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4X65PsaEiyT-rdv4YO5gOn6_fMxJ-_tc&callback=initMap&libraries=marker&v=beta"
    defer
  ></script>

  

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>

{% endblock scripts %}