{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-cat-list.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-listing-inner.css' %}">
{% endblock css %}

{% block content %}
    {% comment %} <section class="hero-wrapper">
        <div class="hero-image">
            <img src="https://cdn.pixabay.com/photo/2018/05/13/14/52/boys-3396713_960_720.jpg" alt="">
        </div>
    </section> {% endcomment %}

    <section class="listings-cat-wrapper">
        <div class="swiper mySwiper-cat">
            <div class="swiper-wrapper">
              <div class="swiper-slide {% if listing_type == 'treehouse' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='treehouse' %}">
                  <img src="{% static 'assets/icons/listing-cat/icon-treehouse.svg' %}" alt="">
                  <div class="cat-title">
                    treehouse
                  </div>
                </a>
              </div>
              <div class="swiper-slide {% if listing_type == 'cottage' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='cottage' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-cottage.svg' %}" alt="">
                <div class="cat-title">
                    cottage
                </div>
              </a>
              </div>
              <div class="swiper-slide {% if listing_type == 'homelistings' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='homestay' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-homestay.svg' %}" alt="">
                <div class="cat-title">
                    homestay
                </div>
              </a>
              </div>
              <div class="swiper-slide {% if listing_type == 'a-frame' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='a-frame' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-a-frame.svg' %}" alt="">
                <div class="cat-title">
                    A frame
                </div>
              </a>
              </div>
              <div class="swiper-slide {% if listing_type == 'camp' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='camp' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-camp.svg' %}" alt="">
                <div class="cat-title">
                    Camping
                </div>
              </a>
              </div>
              <div class="swiper-slide">
                <a href="{% url 'listings' listing_type='cottage' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-mountain.svg' %}" alt="">
                <div class="cat-title">
                    Amazing View
                </div>
              </a>
              </div>
              <div class="swiper-slide {% if listing_type == 'dome' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='dome' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-dome.svg' %}" alt="">
                <div class="cat-title">
                    dome
                </div>
              </a>
              </div>
              <div class="swiper-slide riverside">
                <a href="{% url 'listings' listing_type='cottage' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-river2.svg' %}" alt="">
                <div class="cat-title">
                    riverside
                </div>
              </a>
              </div>
              <div class="swiper-slide mudhouse {% if listing_type == 'mudhouse' %}active-cat{% endif %}">
                <a href="{% url 'listings' listing_type='mudhouse' %}">
                <img src="{% static 'assets/icons/listing-cat/icon-mudhouse.svg' %}" alt="">
                <div class="cat-title">
                    mudhouse
                </div>
              </a>
              </div>              
            </div>
            
          </div>
          <div class="swiper-button-prev cat-prev"></div>
          <div class="swiper-button-next cat-next"></div>
            
            
            
    </section>

    <section class="listings">

      {% if cottages %}
      
     {% for cottage in cottages %}  
     
      <div class="single-listing">
         <a href="{% url 'listingDetail' slug=cottage.slug %}">
         <div class="swiper mySwiper-listing">
           <div class="swiper-wrapper">
             <div class="swiper-slide">
               <img src=" {{cottage.thumb_images.url1.url}}" alt="hi" height="20px">  
              </div>
              <div class="swiper-slide">
                <img src=" {{cottage.thumb_images.url2.url}}" alt="hi" height="20px">  
               </div>
               <div class="swiper-slide">
                <img src=" {{cottage.thumb_images.url3.url}}" alt="hi" height="20px">  
               </div>
               <div class="swiper-slide">
                <img src=" {{cottage.thumb_images.url4.url}}" alt="hi" height="20px">  
               </div>
               <div class="swiper-slide">
                <img src=" {{cottage.thumb_images.url5.url}}" alt="hi" height="20px">  
               </div>
                             
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next listing-next"></div>
            <div class="swiper-button-prev listing-prev"></div>              
          </div>
          <div class="listing-info-wrapper">
            <i class="listing-title">{{cottage.name}}</i>
            <div class="item-wrapper">
              <i class="fa fa-solid fa-location-dot"></i>
              <i class="listing-location">{{cottage.location}}</i>
            </div>
            <i class="listing-accomodation">{{cottage.capacity}} persons | {{cottage.num_bedrooms}} bedrooms</i>
            <div class="item-wrapper">

              <i class="fa-solid fa-indian-rupee-sign"></i> <i class="listing-price">{{cottage.price_per_night}} / night</i>
            </div>
          </div>
         </a>        
      </div>
        {% endfor %} 


      {% else %}

      <div class="no-result">
        <p>
            We're sorry, Right now we didn't have any {{listing_type}}(s) to host you.
            </p>

            <p>

            Please explore our other Rentals <br>
            If you need further assistance, please <a href="">contact us</a> 
        </p>
        <i>
            See All <a href="#">listings</a>
        </i>
    </div>
      
        {% endif %}
      
    </section>
{% endblock content %}

{% block scripts %}

<script src="{%static 'js/swiper-cat-list.js' %}"></script>
<script src="{%static 'js/swiper-listing-inner.js' %}"></script>
{% endblock scripts %}