.swiper {
    width: 100%;
    height: 100%;
   
  }

  .swiper-wrapper{
    display: flex;
    justify-content: center;
    /* gap: 5%; */
    /* background-color: red; */
  }

  .swiper-slide {
    text-align: center;
    height: 130px;
    width: auto !important;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* background-color: yellow; */
   
  }

  .swiper-slide img {
    /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 