    {% load static %}
    <div class="nav-wrapper">
     
     <nav class="navbar">
        <div class="logo">
            <h2>Jibhi.co.in</h2>
        </div>

        <div class="search-wrapper">
          <div class="search-box">
            <img src="{% static 'assets/icons/random/icon-search.svg' %}" alt="">
          </div>
        </div>
       
       <ul class="nav no-search">
         <li class="nav-item"><a href="#">Home</a></li>
         <li class="nav-item"><a href="#">About</a></li>
         <li class="nav-item"><a href="#">Work</a></li>
         <li class="nav-item"><a href="#">Careers</a></li>
         <li class="nav-item"><a href="#">Contact Us</a></li>
         
       </ul>
     </nav>
     </div>

     <div class="bottom-nav-wrapper " id="bottomNav">
      <div class="nav-item">        
        <i class="fa-solid fa-house"></i>
        <i>home</i>
      </div>

      <div class="nav-item">
        <i class="fa-solid fa-circle-info"></i>
        <i>about</i>
      </div>

      <div class="nav-item">        
        <i class="fa-solid fa-message"></i>
        <i>contact</i>
      </div>

      <div class="nav-item">        
        <i class="fa-solid fa-angles-right"></i>
        <i>more</i>
      </div>    
     

     </div>
     


  