    {% load static %}
 
    
    <div class="nav-wrapper">
     
     <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">

              <h2>Jibhi.co.in</h2>
            </a>
        </div>

        <div class="search-wrapper  trigger-desktop">
          <div class="search-box">
            {% if is_searched %}
            <div class="search-desc">              
              <p>
                   {{listing_type}}
                  , {{guests}} guests, 
                  {{max_price}}  &#x20b9;
              </p>
          </div>
            {% endif %}
            <img src="{% static 'assets/icons/random/icon-search.svg' %}" alt="">
          </div>
        </div>
       
       <ul class="nav no-search">
         <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}">Home</a>
          </li>
         <li class="nav-item {% if active_page == 'listings' %}active{% endif %}">
            <a href="{% url 'listings' %}">Explore</a>
          </li>
         <li class="nav-item">
            <a href="{% url 'map' %}">Map</a>
          </li>
         <li class="nav-item">
            <a href="#">About</a>
          </li>
         <li class="nav-item">
            <a href="{% url 'contact-us' %}">Contact Us</a>
          </li>
         
       </ul>
     </nav>
     </div>
     


     {% if not_bottom_nav is  None %}  
        
     <div class="bottom-nav-wrapper " id="bottomNav">
      <div class="outer-container">
        <span class="button off">
          <i class="fa fa-solid fa-house"></i>
          <p>home</p>
        </span>
        <span class="button off">
          <i class="fa fa-solid fa-magnifying-glass-location"></i>
          <p>explore</p>
        </span>
        <span class="button off">
          <i class="fa fa-solid fa-message"></i>
          <p>contact</p>
      </span>
        <span class="button off">
          <i class="fa-solid fa-angles-right"></i>
          <p>more</p>
        </span>
    </div>
     </div>
     
     {% endif %}
     




     
     <div class="search-modal-wrapper">        

          
            <div class="search-form">
              <div class="search-modal-header">
                <i class="fa-solid fa-chevron-left close-button" id="close-enquiry-modal"></i> 
              </div>
              
                
              <form method="get" action="{% url 'search' %}">
              
                {% comment %} <div class="form-row">
                  <div class="form-group">
                    <label for="checkin-date">Checkin Date</label>
                    <input type="date" id="checkin-date" name="checkin-date" required>
                  </div>
                  <div class="form-group">
                    <label for="checkout-date">Checkout Date</label>
                    <input type="date" id="checkout-date" name="checkout-date" required>
                  </div>
                </div> {% endcomment %}
                <div class="form-row">
                  <div class="form-group">
                    <label for="listing-type">Type</label>
                    <select id="type" name="listing-type"class="select-type">                    
                      <option value="any" selected>Any</option>
                      <option value="treehouse">treehouse</option>
                      <option value="cottage">cottage</option>
                      <option value="a-frame">A-frame</option>
                    </select>
                  </div>  
                  
                  <div class="form-group">
                    <label for="location-type">Location</label>
                    <select id="type" name="location-type" class="select-type">
                      <option value="any" selected>Any</option>
                      <option value="jibhi">Jibhi</option>
                      <option value="tandi">Tandi</option>
                      <option value="mihar">Mihar</option>
                      <option value="ghiyagi">Ghiyagi</option>
                      <option value="sajwar">Sajwar</option>
                      <option value="bahu">Bahu</option>
                    </select>
                  </div>
                  
                </div>

                
                  <div class="form-row">
                  <div class="form-group">
                    <label for="adults">Adults</label>
                    <input type="number" id="adults" name="adults" min="1" required="true">
                  </div>
                  <div class="form-group">
                    <label for="children">Children</label>
                    <input type="number" id="children" name="children" min="0">
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="form-group slider">
                    <label for="price-range">Price Range:</label>
                    <input type="range" id="price-range" name="price-range" min="500" max="10000" step="100">
                    <div class="range-labels">
                      <span class="min-price">500</span>
                      <span class="max-price">5000</span>
                    </div>

                  </div>
                </div>
              
                <div class="form-row">
                  <div class="form-group">
                                  
                    <div class="form-group">
                      <button type="reset">Reset</button>
                    </div>

                  </div>
                  <div class="form-group">
                    <button type="submit">Search</button>
                  </div>
                </div>
              </form>
            </div> 
  </div>

  
  