* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  
  /* HEADINGS */
  
  h1, p {
  
    text-align: center;
    line-height: 1.4;
  }

  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  i{
    font-style: normal;
  }
  section.hero-wrapper{
    height: auto;
    width: 100%;
  }

  .hero-image{
    height: 400px;
    width: 100%;
  }

  .hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section.listings-cat-wrapper{
    height: auto;
    /* background-color: rgb(158, 151, 151); */
    padding-top: 10px;
    /* padding: 10px; */
    /* overflow-x: scroll; */
    position: sticky;
    margin-bottom: 25px;
    /* z-index: -1; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    top: 80px;
    z-index: 9999;
    background-color: white;
    height: auto;
    /* padding-bottom: 5px; */
    /* border: 1px solid black; */
  }

  
  section.listings-cat-wrapper img{
    width: 40px;
    height: 40px;
  }



  section.listings-cat-wrapper .riverside img, section.listings-cat-wrapper .mudhouse img{
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
  } 

  .z-fix{
    z-index: -1 !important;
  }

.result-count{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  margin-bottom: 30px;
  /* background-color: red; */
}

  section.home-listings{
    width: 100%;
    height: auto;
    
  }
  
  
  .listing-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
  }

  .listing-title{
    font-weight: 600;
    font-size: 1rem;
    color: #242323;
  }

  .listing-location,.listing-accomodation{
    color: #717171;
    font-size: .9rem;
  }

  .listing-price{
    font-weight: 600;
    color: #242323;
    font-size: .9rem;
  }


 
  @media (max-width:500px){
    .body-container{
      margin-bottom: 80px;
    }
  }