
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');


 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }



  a{
    text-decoration: none;
    color: inherit;
  }
  body{
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  body.no-scroll {
    position: fixed;
    overflow-y:scroll
    
   
  }
 

  /* HEADINGS */
  
  h1, p {
  
    /* text-align: center; */
    line-height: 1.4;
  }

  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  i{
    font-style: normal;
  }


  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  .section-title h2{
    font-size: 1.5rem;
    position: relative;
    /* background-color: red; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #272525c7;
  }

  .section-title h2::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #ff385c;

  
    
   
  }

  .section-title h2::before{
    content: '';
    position: absolute;
    bottom: -9.5px;
    left: 50%;
    width: 100%;
    height: 5px;
    width: 5px;
    /* border-radius: 10px; */
    background-color: #ff385c;
    transform: translate(-50%,0);
    transform: rotate(45deg);
  }

  
  .btn{
    width: auto;
    padding: 15px 10px;
    /* border: 1px solid black; */
    border-radius: 40px;
    background-color: rgb(27,188,155);
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    /* font-size: .2rem; */
    cursor: pointer;
    box-shadow: 0 0 5px rgb(3, 3, 3);
  }

  section.hero-wrapper{
    height: auto;
    width: 100%;
   
    position: relative;
  }

  section.hero-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .hero-image{
    height: 600px;
    width: 100%;

  }
  .hero-content{
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    /* background-color: red; */
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-content h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #06cff3;
    font-family:monospace;
    /* background-color: black; */
  }

  .hero-content p{
    color: rgb(243, 234, 234);
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1rem;
    line-height: 2rem;
    word-spacing: .5rem;

    /* background-color: rgba(0, 255, 255, 0.123); */
  }
  .hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 1.7; */
  }

section.section-wrapper{
  width: 100%;
  padding: 0 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* background-color: blueviolet; */
  margin-top: 40px;
  /* align-items: center; */
}




.section-content{
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.section-content .info, .section-content .image{
   height: auto;
  text-align: left;
  position: relative;
}

.section-content .info{
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.section-content .info p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2em;
  letter-spacing: .5px;
  /* word-spacing: .5rem; */
  line-height: 1.5rem;
  text-align: left;
  /* font-weight: 500; */
  

}

.fa{
  color: #717171;
  font-size: .8rem;
}
.item-wrapper{
  display: flex;
  gap: 5px;
  align-items: center;
}

.section-content.explore-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 25px;
  /* background-color: red; */
  height: auto;
}

.grid-item{
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-color: yellow;
  overflow: hidden;
  position: relative;
}

.grid-text{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
 
 font-size:1.3rem;
 
 color: white;
 font-weight: bolder;
 text-transform: uppercase;
 top: 50%; /* set the top edge of the child div to be halfway down the parent div */
  left: 50%; /* set the left edge of the child div to be halfway across the parent div */
  transform: translate(-50%, -50%); /* move the child div up and left by half its width and height */
  text-align: center; 
  z-index: 2;
 
}


.grid-item img{
  width: 100%;
  height: 100%;
  transition: all 15s ease;
  object-fit: cover;
  filter: contrast(120%) saturate(170%);
}

.grid-item img:hover{
  transform: scale(1.2);

  cursor: pointer;
}
.grid-item--1{
  grid-column: 1/3;
}

.grid-item--2{
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: red;
  height: 100%;
}

.section-content .image{
  width: 45%;
}


.section-content .image img{
  width: 100%;
  height: 100%; 
  border-radius: 5px;

  
  /* top: 0; */
}

.img1{
  clip-path: polygon(
    0% 0%,
    97% 0%,
    97% 0%,
    0% 93%
  );
}

.img2{
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(
    100% 7%,
    100% 7%,
    100% 100%,
    2% 100%
  );
}
section.listings{
  
}
  section.listings-cat-wrapper{
    height: auto;
    /* background-color: rgb(158, 151, 151); */
    padding-top: 10px;
    /* padding: 10px; */
    /* overflow-x: scroll; */
    position: sticky;
    margin-bottom: 25px;
    /* z-index: -1; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    top: 80px;
    z-index: 9999;
    background-color: white;
    height: auto;
    /* padding-bottom: 5px; */
    /* border: 1px solid black; */
  }

  
  section.listings-cat-wrapper img{
    width: 40px;
    height: 40px;
  }



  section.listings-cat-wrapper .riverside img, section.listings-cat-wrapper .mudhouse img{
        width: 30px;
        height: 30px;
        margin-bottom: 8px;
  } 

  .z-fix{
    z-index: -1 !important;
  }

.result-count{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  margin-bottom: 30px;
  /* background-color: red; */
}

 
  
  .listing-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
  }

  .listing-title{
    font-weight: 600;
    font-size: 1rem;
    color: #242323;
  }

  .listing-location,.listing-accomodation{
    color: #717171;
    font-size: .9rem;
  }

  .listing-price{
    font-weight: 600;
    color: #242323;
    font-size: .9rem;
  }

  .paragliding-content{
    position: relative;
  }
  .paragliding-info{
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 10;
    display: flex;
    justify-content: center;
    opacity: 1;
  }
  .paragliding-info p{
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    /* background-color: rgba(55, 17, 66, 0.13); */
    border-radius: 10px;
    
  }

/* footer section------------------------------------ */

footer{
  width: 100%;
  height: 45px;
  /* background-color: rgba(210, 214, 218, 0.76); */
  border-top: 1px solid rgb(150, 145, 145,.6);
  /* position: fixed; */
 /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  /* background-color: red; */
  margin-top: 20px;
}
/* paragliding section------------------------------------------ */
.carousel {
 height: 250px;
 border-radius: 20px;
 overflow: hidden;
 /* margin-top: 20px; */
}

ul.slides {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(300%);

}



.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
  cursor: pointer;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

/* paragliding section ends------------------------------------------- */


.section-content.village-slider,
.section-content.places-slider{
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;  
  height: auto;
  border-radius: 20px;
 
}
.section-content.village-slider::-webkit-scrollbar,
.section-content.places-slider::-webkit-scrollbar
 {
  display: none;
}

.village-wrapper{
  flex: 0 0 300px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  /* background-color: blue; */
}

.village-wrapper img{
  height: 99%;
  width: 100%;
  object-fit: cover;
  filter: contrast(120%) saturate(280%);

}

.village-wrapper .village-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
}

.place-wrapper{
  flex: 0 0 250px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: blue;
}

footer .footer-section{
  display: flex;
  align-items: center;
  gap: 10px;
}  
/* ---------------------------------footer section ends */


/* page-signle-listing */


.gallery-grid{
  /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 25px;
  /* background-color: red; */
  height: auto;
  position: relative;
}
.hero-grid-item{
  width: 100%;
 
  border-radius: 10px;
  /* background-color: yellow; */
  overflow: hidden;
  position: relative;
  /* background-color: red; */
  
}

.hero-grid-item--1{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.hero-grid-item img{
  width: 100%;
  height: 100%;
  transition: all 15s ease;
  object-fit: cover;
 
}

.load-gallery{
  position: absolute;
  right: 5px;
  bottom: 25px;
  background-color: rgb(247, 234, 234);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;

}

.listing-header{
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  justify-content: space-between;
  text-transform: capitalize;
}
.listing-header h2.listing-title{
  font-size: 1.4rem;  
  
}
.listing-header a{
  text-decoration: underline;
}

.listing-header .wrapper{
  display: flex;
  gap: 20px;
}

.listing-body--left{
  width: 60%;
  height: auto;
  /* background-color: yellow; */
}

.hosting-summary{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 10px;
}

.host-image {
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  /* margin-right: 10%; */
}

.owner-accomodation-info{
 display: flex;
 flex-direction: column;
 gap: 8px;
}

.host-image img{
  border-radius: 50%;
}

.amenities-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.amenities{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.single-amenity{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 40%;
}

.amenity-icon{
  height: 20px;
  width: 20px;
}

.description-wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-text{
  /* background-color: red; */
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5rem;
}

.read-more-btn{
  cursor: pointer;
  color: blue;
}


/* page-signle-listing  ends*/
 

 