@media (max-width:500px){
    
    .section-content{
      flex-direction: column;
    }

    .section-content .info{
      width: 100%;

    }
    .section-content .image{
      width: 100%;
    }
    .section-content.explore-grid{
      /* display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(3,1fr); */
      row-gap: 10px;
      column-gap: 10px;
    }
    .grid-item{
      width: 100%;
      height: 100px;
      border-radius: 20px;
      background-color: yellow;
      overflow: hidden;
      position: relative;
    }

    .grid-item--2{
     
      height: 100%;
    }
    
    .grid-text{
      
     
     font-size:.8rem;
     
     font-weight: bolder;
  
     
    }

    .carousel{
      height: 200px;
    }
    .paragliding-info p{
      font-size: 1rem;
      color: white;
      font-weight: bolder;
      border-radius: 10px;
      
    }
    .hero-image{
      height: 400px;
    }
    .hero-content{
      width: 90%;
      top: 60%;
    }
    .hero-content h1{
      font-size: 2rem;
      
      /* background-color: black; */
    }
    
    .hero-content p{
      /* line-height: normal; */
      width: 100%;

    }


    /* listing-detail-page */

    section.section-wrapper.hero-gallery{
        flex-direction: column-reverse;
    margin-top: 15px;
        /* background-color: red; */
    }
    .gallery-grid{
        row-gap: 0px;
        column-gap: 0px;
        width: 110%;
        margin-left: -5%;
        margin-top: -14px;
        height: 200px;
    }

    .load-gallery{
      bottom: 5px;
    }
    
    .hero-grid-item{
      border-radius: 0px;
     
    }
    .listing-header{
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 10px;
       
        
    }

   
    .listing-header i{
      font-size: 16px;
    }

    .listing-header h2.listing-title{
        text-align: left;
    }

    .listing-header .wrapper{
      flex-direction: column;
      gap: 10px;
    }

    section.section-wrapper.listing-body-wrapper{
      flex-direction: column;
      margin-top: 20px;
    }
    .listing-body--left{
      width: 100%;}

      .hosting-summary{
        gap: 20px;
        /* margin-top: -20px; */
      }
      .owner-accomodation-info{
        /* background-color: red; */
        width: 80%;
      }
      .accomodation-summary{
        /* background-color: blue; */
      }

      .host-image{
        /* background-color: yellow; */
        margin-right: 0px;
      }
    /* lisitng detail page ends */

    .no-result{
      width: 90%;
      padding: 0 20px;
    }


    /* contact-us page */

    .contact-hero--title{
     left: 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;

     

    }

    .contact-hero p{
      
      font-size: 1rem;
     
    }

    .contact-hero h2{
      font-size: 40px;
      
    }

    .section-wrapper.contact-body{
     
      padding: 0;
    }
    .contact-wrapper{
      flex-direction: column;
     gap: 30px;
     align-items: center;

    }
    .contact-wrapper .enquiry-form{
      width: 90%;

      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      /* background-color: red; */
      /* background-color: red; */
    }

    .social-contact{
      width: 90%;
    }
    /* contact-us page ends */

  }