
h2,h3{
  color: rgba(0, 0, 0, 0.75) !important ;
}

#about-listing-modal {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999;
    transition: all 1s ease-in-out;
    /* background-color: red; */
    
    
  }
  
  #about-listing-modal.open {
    bottom: 50%;
  }
  
  #about-listing-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
    width: 90%;
    height: 90vh;
    

   
    z-index: 99999999;
    
  }

  .description-container{
    overflow-y: scroll;
  }

 
  
  #modal.open #about-listing-modal-content {
    transform: translate(-50%, -70%);
  }
  
  #close-modal{
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999999999;
    transition: all 1s ease-in-out;
    
  }


  /* gallery modal */

#listing-gallery-modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  transition: all 1s ease-in-out;
  /* background-color: red; */
  
  
}

#listing-gallery-modal.open {
  bottom: 50%;
}

#listing-gallery-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* padding: 20px; */
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100vh;


  /* background-color: red; */

  
 
  z-index: 99999999;
  
}

#modal.open #listing-gallery-modal-content {
  transform: translate(-50%, -70%);
}

#close-gallery-modal{
  cursor: pointer;
  
}





.photo-gallery{

  overflow-y: scroll;
  width: 100%;
  height: 92vh;
  padding-bottom: 50px;
}
.photo-group-title{
  margin-left: 20px;
  width: 90%;
  margin:20px auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5px;
    column-gap: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
   
  } 


  
  .item--1{
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;

  }
  .item--2{
   grid-column: 2/3;
   grid-row: 1/3;
  }
  .item--3{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .item--4{
    grid-column: 1/3;
    grid-row: 3/4;
  
  }

  .item--5{
    grid-column:1/2 ;
    grid-row: 4/6;
  }

  .item--6{
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .item--7{
    grid-column:2/3 ;
    grid-row:5/6 ;
  }

  .item--8{
    grid-column:1/3 ;
    grid-row:6/7 ;
   
  }

  .item--9{
    grid-column:1/2 ;
    grid-row:7/8 ;
  }

  .item--10{
    grid-column:2/3 ;
    grid-row:7/9 ;
  }

  .item--11{
    grid-column:1/2 ;
    grid-row:8/9 ;
  }

  .item--12{
    grid-column: 1/3;
    grid-row: 9/10;
   
  }

  .item--13{
    grid-column:1/2 ;
    grid-row: 10/12;
  }

  .item--14{
    grid-column:2/3 ;
    grid-row:10/11 ;
  }

  .item--15{
    grid-column:2/3 ;
    grid-row: 11/12;
  }

  .item--16{
    grid-column: 1/3;
    grid-row:12/13 ;
   
  }

  .item--17{
    grid-column:1/2 ;
    grid-row:13/14 ;
  }

  .item--18{
    grid-column:2/3 ;
    grid-row:13/15 ;
  }

  .item--19{
    grid-column:1/2 ;
    grid-row:14/15 ;
  }

  .item--20{
    grid-column:1/3 ;
    grid-row: 15/16;
  
  }

  .item--2,.item--5,.item--10,.item--13,.item--18{
    height: 710px;
  }
  .item--1,.item--3,.item--6,.item--7,.item--9,
  .item--11,.item--14,.item--15,  .item--17,.item--19{
    height: 350px;
  }

  .item--4,.item--8,.item--12,.item--16,.item--20{
    max-height: 400px;
  }

  /* 

  .item--{
    grid-column: ;
    grid-row: ;
  }

  .item--{
    grid-column: ;
    grid-row: ;
  }

  .item--{
    grid-column: ;
    grid-row: ;
  }

  .item--{
    grid-column: ;
    grid-row: ;
  }
  .item--{
    grid-column: ;
    grid-row: ;
  } */

.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  
  .gallery-header , .about-modal-header{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .about-modal-header{
    height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .photos img:hover {
    filter: contrast(125%);
  }
  /* galley modal ends */

  .enquiry-nav-mobile{
    display: none;
  }

  #enquiry-modal{
    display: none;
  }

  .prev-btn{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    align-items: center;
    justify-content: center;
  }


  

  .section-wrapper.map{
    display: flex;
    flex-direction: column;
    
  }

  .map-frame{
    width: 100%;
    height: 400px;
    
    /* background-color: red; */
  }

  .map-frame iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
  }


/* maps*/



/* maps end */



/* reusable modal */

/** Common */


/** Button */



/** Modal */
.share-modal {
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.3s;
  position:fixed;
  top: 50%;
  left: 50%;
  right: 0;


  
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  transform:translate(-50%,-50%);
  z-index: 9999999;
  width: 500px;
  
}


.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

/** Overlay */
.overlay-share {
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999999;
  
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.share-modal-header{
  margin-bottom: 20px;
 padding: 10px 10px;
 display: flex;
 gap: 20px;
}
.social-share-btn-wrapper{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 15px 30px;
}
.social-share-btn{
  width: 200px;
  /* height: 40px; */
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 15px;
  font-size: 16px;
  flex-wrap: nowrap;
}

.tooltip {
  position: absolute;
  z-index: 1;
  background-color: white;
  color: green;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  border: 1px solid black;
}
.tooltip.show {
  opacity: 1;
  visibility: visible;
}



/* accomodation modal */


#accomodation-modal {
  position: fixed;
  bottom: -150%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  transition: all 1s ease-in-out;
  /* background-color: red; */
  
  
}

#accomodation-modal.open {
  bottom: 50%;
}

#accomodation-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  width: 90%;
  height: 90vh;  

 
  z-index: 99999999;
 
  
}

#modal.open #accomodation-modal-content {
  transform: translate(-50%, -70%);
}

#close-accomodation-modal{
  position: absolute;
  top: 0;
  left: 0;
  background-color:red;
}




  @media (max-width:500px) {

    .hero-grid-item{
      display: none;
    }
    
    .gallery-grid{
      display: flex;
      width: 110%;
      height: 250px;

    }
    .hero-grid-item.hero-grid-item--primary{
      display: flex;
    }
    #about-listing-modal-content {
        
        width: 100%;
        height: 100vh;
      }
      

      #listing-gallery-modal-content{
        padding-left: 0;
        padding-right: 0;
        margin-top: 50px;
       
      }

      #listing-gallery-modal{

        width: 100%;
       
        
      }

      .photos{
        width: 100%;
      }

      .listing-body--right{
        display: none;
      }
      
      .enquiry-nav-mobile{
        display: flex;
        position: fixed;
        height: 60px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.534);
        font-weight: bold;

      transition: transform 0.3s ease-in-out;
      z-index: 99999;

      }

      .enquiry-btn{
        background-color: rgb(231, 59, 59);
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-weight: bold;
      }



      .direct-contact-mobile{
        width:auto;
        justify-content: space-between;
        display: flex;
        gap: 10px;
      }
      
      .direct-contact-mobile a, .price{
        display:flex;
        padding: 5px 8px;
        background:white;
        
        align-items:center;
        justify-content:center;
        text-decoration:none;
      box-shadow: 6px 6px 10px -1px rgb(0,0,0,0.15),
                      -6px -6px 10px -1px rgb(255,255,255,0.7);
        border-radius:8px;
        border:1px solid rgba(0,0,0,0);
        transition:transform 0.5s;

      }



      .direct-contact-mobile a i{
        font-size:24px;
        color:#f14843;
        transition:transform 0.5s;
      }
      .direct-contact-mobile a:hover{
        box-shadow:inset 4px 4px 6px -1px rgb(0,0,0,0.15),
                    inset -4px -4px 6px -1px rgb(255,255,255,0.7);
        border:1px solid rgbs(0,0,0,0.1);
      transform: translateY(2px);
      }
      .direct-contact-mobile a:hover i{
        transform:scale(0.90);
      }
      .direct-contact-mobile a:hover .fa-facebook{
          color: rgba(6, 6, 192, 0.822);
      }
      .direct-contact-mobile a:hover .fa-twitter{
          color: rgba(20, 89, 236, 0.822);
      }
      .direct-contact-mobile a:hover .fa-whatsapp{
          color: rgba(15, 235, 70, 0.945);
      }
      .direct-contact-mobile a:hover .fa-instagram{
          color: #f14843;
      }
      .direct-contact-mobile a:hover .fa-youtube{
          color: rgb(250, 14, 14);
      }
      
      .price{
        padding: 10px 5px;
      }
  


     
      /* enquiry modal */
      #enquiry-modal {
        display: block;
        position: fixed;
        bottom: -150%;
        left: 0;
        right: 0;
        background-color: transparent;
        z-index: 9999999999;
        transition: all 1s ease-in-out;
        /* background-color: red; */
        height: 100vh;
        
        
      }
      
      #enquiry-modal.open {
        bottom: 0%;
      }
      
      
      #enquiry-modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        background-color: white;
        /* padding: 20px; */
       
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 1s ease-in-out;
        width: 100%;
        height: 100vh;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        
        
      
      
        /* background-color: red; */
      
        
       
        z-index: 99999999;
        
      }
      
      /* #enquiry-modal.open #enquiry-modal-content {
       
        transform: translate(-50%, -3%);
      } */
      
      #close-enquiry-modal{
        cursor: pointer;
        
      }
      
      
      /* enquiry modal ends */

      .prev-btn{
        display: flex;
      }

      .map-frame{
        
        height: 220px;

      }


      /* share modal */

      .share-btn i{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 90;
        background-color: white;
        padding: 6px;
        border-radius: 50%;
      }

      .share-modal{
        width: 80%;
      }

      .social-share-btn-wrapper{
        justify-content: center;
      }
      
}

.amenity-icon{
  display:flex;
  padding: 5px 8px;
  background:white;
  
  align-items:center;
  justify-content:center;
  text-decoration:none;
  box-shadow:4px 4px 6px -1px rgb(0,0,0,0.15),
   -4px -4px 6px -1px rgb(255,255,255,0.7);
  border:1px solid rgbs(0,0,0,0.1); 
   border-radius:8px;
  border:1px solid rgba(0,0,0,0);
  transition:transform 0.5s;

}


.amenity-icon{
  width: 35px;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:50px;
  background: rgb(2,0,36);
background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(0,217,7,0.7651435574229692) 0%, rgba(47,203,60,0.7987570028011204) 32%, rgba(0,255,29,0.6867121848739496) 53%, rgba(73,233,58,0.835171568627451) 81%);
  height: 300px;
  text-align: left;
  padding:10px;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-wrapper.listing-reviews{
  background-color: #F6F8FB;
} 

.reviews-wrapper-listing{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.reviews-wrapper-listing .review-wrapper{
  /* background-color: rgb(249, 249, 249);
  padding: 10px; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.234);
  padding-bottom: 20px;
  position: relative;
  margin-top: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 10px 10px 15px 2px lavender;
  /* text-align: center; */
  
  
}

.reviewer-dp{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid white;
}

