
#about-listing-modal {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999;
    transition: all 1s ease-in-out;
    /* background-color: red; */
    
    
  }
  
  #about-listing-modal.open {
    bottom: 50%;
  }
  
  #about-listing-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
    width: 90%;
    height: 90vh;

   
    z-index: 99999999;
    
  }
  
  #modal.open #about-listing-modal-content {
    transform: translate(-50%, -70%);
  }
  
  #close-modal{
    position: absolute;
    top: 0;
    right: 0;
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999999999;
    transition: all 1s ease-in-out;
    
  }


  /* gallery modal */

#listing-gallery-modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  transition: all 1s ease-in-out;
  /* background-color: red; */
  
}

#listing-gallery-modal.open {
  bottom: 50%;
}

#listing-gallery-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  
 
  z-index: 99999999;
  
}

#modal.open #listing-gallery-modal-content {
  transform: translate(-50%, -70%);
}

#close-gallery-modal{
  position: absolute;
  top: 0;
  right: 0;
}




.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5px;
    column-gap: 5px;
   
  } 
  
.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .photos img:hover {
    filter: contrast(125%);
  }
  /* galley modal ends */


  @media (max-width:500px) {
    
    #about-listing-modal-content {
        
        width: 100%;
        height: 100vh;
       
        
        
      }
      .photos{
        grid-template-columns: 1fr 1fr;
      }
      .photos img{
        height: 150px;
      }
}
